.Filter {
  width: 400px;
}

.Filter > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  height: 60px;
}

.Filter h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.filter-btn {
  display: flex;
}

.filter-btn > div button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  background-color: #e4e6eb;
  height: 25px;
  margin-right: 5px;
  border-radius: 5px;
}

.Filter > div:last-child {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Filter > div:last-child > div {
  display: flex;
  padding: 0px 5px;
}

.Suggest {
  width: 300px;
  border: 1px solid #dddddd;
  background-color: #f0f2f5;
  border-radius: 5px;
}

.Suggest > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.Suggest > div:first-child > a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #262626;
  font-size: 12px;
  padding-right: 10px;
}

.Suggest > :last-child {
  margin-top: 10px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  padding-right: 10px;
}

.list-suggest {
  display: flex;
}

.list-suggest > img {
  margin: auto 5px;
  border-radius: 50%;
}

.list-suggest > div:last-child {
  display: flex;
  flex-direction: column;
}

.list-suggest > div > span:first-child {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.list-suggest > div > span:last-child {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
}

.CreatePost {
  width: 400px;
  border: 1px solid #e9ebee;
}

.CreatePost > div:nth-child(1) {
  background: #f5f6f7;
  border: 1px solid #e9ebee;
  border-radius: 3px;
}

.CreatePost > div:nth-child(2) {
  display: flex;
  width: 95%;
  padding-top: 15px;
  margin: auto;
  border-bottom: 1px solid #e9ebee;
}

.CreatePost textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.CreatePost img {
  border-radius: 50%;
}

.CreatePost h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.CreatePost > div:last-child {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0px;
}

.CreatePost > div:last-child > button {
  font-family: Roboto;
  width: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  background-color: #f5f6f7;
  border-radius: 20px;
}

.CreatePost > div:last-child > button:last-child {
  width: 50px;
}
